server:
  port: 9990
  servlet:
    context-path: "/lamp/electron"
 
electron:
  registerAddress: 127.0.0.1:2379

spring:
  servlet: 
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  application:
    name: lamp-electron
  datasource:
    name: vp_coupon
    url: jdbc:mysql://120.78.148.188:3306/electron?useSSL=false&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&zeroDateTimeBehavior=convertToNull
    username: lampup
    password: Lampup@123
    # using druid data source
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
    # encrypt password
    filters: config
  redis:
    database: 0
    host: 172.16.10.65
    password: 123456
    port: 6379
    pool:
      max-idle: 48
      min-idle: 0
      max-active: 24
      max-wait: -1
         
mybatis:
    checkConfig-location : false
    configuration:
        useGeneratedKeys: true
        mapUnderscoreToCamelCase: true

pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql
decoration:
   defaultExceptionResult: com.lamp.electron.console.utils.LampExceptionResult
