$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuText:#bfcbd9;
$menuActiveText:#ff0089;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951
$menuBg: rgba(0,0,0,1);
$menuHover: rgba(255, 255, 255, 0.15);
$subMenuBg: transparent;
$subMenuHover: rgba(255, 255, 255, 0.15);

$sideBarWidth: 150px;

export {
  menuText: $menuText;

  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;

  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
