.DS_Store
node_modules/
# dist/
output/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
doc/*.txt
# tm.config.local.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
